@import "../../app.scss";


.navbar {
    height: 100px;
    
    .wrapper {
        max-width: 1366px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100px;
        @include mobile {
            padding: 30px;
        }

        span {
            font-weight: bold;
        }

        .social {
            display: flex;
            gap: 20px;

            img{
                width: 40x;
                height: 40px;
            }
        }
    }
}